.center{
    text-align: center !important;
    position: relative;
    top: 20%;
}
.content{
    position: center !important;
    height: 100%; 
    display: flex; 
    align-items: center !important; 
    justify-content: center !important;
}

.app_tittle{
    text-align: center !important;

}
.sub_tittle{
    font-weight: bold !important;
}