#switch-user-button{
    text-align: center;
    background-color: white !important;
    color: black !important;
}
.center{
    text-align: center !important;
    position: absolute;
    top: 25%;
}
.content{
    position: relative;
}