<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> DuoCarApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DuoCarApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Elige un tipo de usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button (click)="goToLogin('pasajero')">pasajero</ion-button>
        <ion-button (click)="goToLogin('conductor')">conductor</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
