
<head>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"
    rel="stylesheet"
  />
</head>
<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="toHome()"tab="Home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="toTripHistory()">
        <ion-icon name="location"></ion-icon>
        <ion-label>Hisorial</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="toProfile()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
