<ion-content color="warning" [fullscreen]="true" class="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" color="warning">
    <ion-card id="registercarCard" color="warning">
      <ion-card-content class="scroll-content">
        <form>
          <div>
            <ion-list class="bg-transparent">
              <ion-item color="none" lines="top">
                <ion-label position="floating">Marca</ion-label>
                <ion-input type="text" formControlName="marca"></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="floating">Modelo</ion-label>
                <ion-input type="text" formControlName="modelo"></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="floating">Patente</ion-label>
                <ion-input type="text" formControlName="patente"></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="floating">Color</ion-label>
                <ion-input type="text" formControlName="color"></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="floating">Año</ion-label>
                <ion-input type="text" formControlName="anio"></ion-input>
              </ion-item>
            </ion-list>
          </div>
          <br />
          <div>
            <ion-button color="dark" expand="full" shape="round" size="default"
              (click)="validateRegister()">Registrar</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
