<ion-content color="warning" class="content">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Perfíl</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" color="warning">
    <ion-card color="warning" id="profileCard">
      <ion-card-content>
        <form>
          <div>
            <ion-list class="bg-transparent">
              <ion-item color="none" lines="top">
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input [clearInput]="true" placeholder="Ingrese nombre" value={{user.nombre}}></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="stacked">Apellido</ion-label>
                <ion-input [clearInput]="true" placeholder="Ingrese apellido" value={{user.apellido}}></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="stacked">Telefono</ion-label>
                <ion-input [clearInput]="true" placeholder="Ingrese teléfono" value={{user.telefono}}></ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="stacked">Correo</ion-label>
                <ion-input [clearOnEdit]="true" placeholder="Ingrese correo electrónico" value={{user.correo}}>
                </ion-input>
              </ion-item>
              <ion-item color="none" lines="top">
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password" placeholder="Ingrese contraseña" value={{user.password}}></ion-input>
              </ion-item>
              <div *ngIf="user.auto !== undefined">
                <ion-header collapse="condense">
                  <ion-toolbar color="warning">
                    <ion-title class size="medium">vehículo</ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-item color="none" lines="top">
                  <ion-label position="floating">Marca</ion-label>
                  <ion-input [clearInput]="true" placeholder="Ingrese marca vehículo"
                    value={{user.auto.marca}}></ion-input>
                </ion-item>
                <ion-item color="none" lines="top">
                  <ion-label position="floating">Modelo</ion-label>
                  <ion-input [clearInput]="true" placeholder="Ingrese modelo vehículo"
                    value={{user.auto.modelo}}></ion-input>
                </ion-item>
                <ion-item color="none" lines="top">
                  <ion-label position="floating">Patente</ion-label>
                  <ion-input [clearInput]="true" placeholder="Ingrese patente vehículo"
                    value={{user.auto.patente}}></ion-input>
                </ion-item>
                <ion-item color="none" lines="top">
                  <ion-label position="floating">Color</ion-label>
                  <ion-input [clearInput]="true" placeholder="Ingrese color vehiculo"
                    value={{user.auto.color}}></ion-input>
                </ion-item>
              </div>
            </ion-list>
          </div>
          <br />
          <div>
            <ion-button color="dark" expand="full" shape="round" size="default" type="submit">Guardar</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-tabs class="paraAtras">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="toHome()" tab="Home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="toTripHistory()">
        <ion-icon name="location"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="toProfile()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>