.footer{
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.content{
    position: relative;
}
.bg-transparent{
    background: transparent;
}
.paraAtras{
    z-index: -5;
  }